<?php
    $link = mysqli_connect('{{ groups['db'][0] }}', '{{ hostvars[groups['db'][0]].dbuser }}', '{{ hostvars[groups['db'][0]].dbpass }}') or die(mysqli_connect_error($link));
    $res = mysqli_query($link, "SHOW DATABASES;");
?>
<html>
    <head>
        <title>Ansible Application</title>
    </head>
    <body>
        <p><?php Print "Hello, World! I am the web server {{ inventory_hostname }}"; ?></p>
        <p>List of Databases: </p>
        <ul>
            <?php while ($row = mysqli_fetch_assoc($res)) {echo "<li> " . $row['Database'] . "</li>\n";} ?>
        </ul>
    </body>
</html>
